{# File: copy_template.py.jinja #}

from airflow import DAG
from datetime import datetime
from airflow.operators.ssh import SSHOperator
from airflow.operators.trigger_dagrun import TriggerDagRunOperator


default_args = {
    'owner': '{{ owner }}',
    'start_date': datetime({{ year }}, {{ month }}, {{ day }}),
    'retries': 0
}


with DAG(
    dag_id="{{ copy_dag_id }}",
    default_args=default_args,
    schedule_interval="{{ schedule_interval }}",
    catchup=False
) as dag:

    copy = SSHOperator(
        task_id="copy_to_hpc",
        ssh_conn_id="{{ ssh_conn }}",
        command="scp /tmp/{{ dag_id }}_repo/scripts/{{ script }} {{ user }}@abacus-login-{{ instance }}:{{ script }}"
    )

    trigger_slur, = TriggerDagRunOperator(
        task_id="trigger_slurm",
        trigger_dag_id="{{ submit_dag_id }}",
        wait_for_completion=False
    )


copy >> trigger_slurm